<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2016 Jorge Ruesga

     Licensed under the Apache License, ServerVersion 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ruesga.rview">

    <permission
        android:name="${applicationId}.permissions.PRIVATE_ACCESS"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="${applicationId}.permissions.PRIVATE_ACCESS" />

    <application
        android:name="com.ruesga.rview.RviewApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <!-- https://android-developers.googleblog.com/2017/03/update-your-app-to-take-advantage-of.html -->
        <meta-data android:name="android.max_aspect" android:value="2.1" />

        <meta-data android:name="firebase_analytics_collection_enabled" android:value="@bool/fcm_enable_analytics" />

        <activity
            android:name="com.ruesga.rview.MainActivity"
            android:theme="@style/AppTheme.NoStatusBarColor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.ruesga.rview.ChangeDetailsActivity"
            android:theme="@style/AppTheme.NoStatusBarColor"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity-alias
            android:name=".InternalUrlHandlerActivity"
            android:theme="@style/AppTheme.NoStatusBarColor"
            android:targetActivity="com.ruesga.rview.ChangeDetailsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}" android:host="change" />
                <data android:scheme="${applicationId}" android:host="commit" />
                <data android:scheme="${applicationId}" android:host="changeid" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.ruesga.rview.UrlHandlerProxyActivity"
            android:theme="@style/AppTheme.Translucent"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:exported="false" />
        <activity-alias android:name="com.ruesga.rview.GerritGenericUrlHandlerActivity"
            android:theme="@style/AppTheme.NoStatusBarColor"
            android:targetActivity="com.ruesga.rview.UrlHandlerProxyActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="*" android:pathPrefix="/gerrit/" />
                <data android:scheme="https" android:host="*" android:pathPrefix="/gerrit/" />
            </intent-filter>
        </activity-alias>
        <!-- URL-ACTIVITY-HANDLERS -->

        <activity
            android:name="com.ruesga.rview.TabFragmentActivity"
            android:theme="@style/AppTheme.NoStatusBarColor"
            android:parentActivityName="com.ruesga.rview.MainActivity"
            android:exported="false" />

        <activity
            android:name="com.ruesga.rview.DiffViewerActivity"
            android:theme="@style/AppTheme.NoStatusBarColor"
            android:parentActivityName="com.ruesga.rview.ChangeDetailsActivity"
            android:exported="false" />

        <activity
            android:name="com.ruesga.rview.ChangeListByFilterActivity"
            android:theme="@style/AppTheme.NoStatusBarColor"
            android:parentActivityName="com.ruesga.rview.MainActivity"
            android:exported="false" />

        <activity
            android:name="com.ruesga.rview.EditorActivity"
            android:parentActivityName="com.ruesga.rview.ChangeDetailsActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.ruesga.rview.SearchActivity"
            android:theme="@style/AppTheme.Translucent"
            android:parentActivityName="com.ruesga.rview.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:excludeFromRecents="true"
            android:exported="false" />

        <activity
            android:name="com.ruesga.rview.NotificationsActivity"
            android:parentActivityName="com.ruesga.rview.MainActivity"
            android:exported="false" />

        <activity
            android:name="com.ruesga.rview.AccountSettingsActivity"
            android:theme="@style/AppTheme.Settings"
            android:parentActivityName="com.ruesga.rview.MainActivity"
            android:exported="false" />

        <activity
            android:name="com.ruesga.rview.wizards.SetupAccountActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoStatusBarColor"
            android:exported="false" />

        <activity
            android:name="com.ruesga.rview.wizards.AuthorizationAccountSetupActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoStatusBarColor"
            android:exported="false" />

        <provider
            android:name="com.ruesga.rview.providers.RviewProvider"
            android:authorities="${applicationId}"
            android:exported="false"/>

        <service
            android:name="com.ruesga.rview.services.AccountStatusFetcherService"
            android:exported="false" />

        <receiver
            android:name="com.ruesga.rview.receivers.NotificationReceiver"
            android:permission="${applicationId}.permissions.PRIVATE_ACCESS">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="${applicationId}.action.NOTIFICATION_DISMISSED" />
                <action android:name="${applicationId}.action.NOTIFICATION_REPLY" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.ruesga.rview.receivers.CacheCleanerReceiver"
            android:permission="${applicationId}.permissions.PRIVATE_ACCESS">
            <intent-filter>
                <action android:name="${applicationId}.action.CLEAN_CACHE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.content"
            android:grantUriPermissions="true"
            android:exported="false"
            android:writePermission="${applicationId}.permissions.PRIVATE_ACCESS">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/content_paths" />
        </provider>

    </application>

</manifest>
